@font-face {
    font-family: "Mukta";
    src: url('Fuentes\Mukta-Regular.ttf') format('truetype');
  }
.footer{
    font-family: Mukta;
    font-size: 5px;
    background-color:rgba(0, 0, 0, 0.45);
 }
 .nav-item:hover {
  background: rgba(249, 220, 144, 0.5)
}
.nav-item {
  border-radius: 5px;
}
.nav-link{    
  font-family: Mukta;
  font-size: 18px;
}
.form-select:hover {
  background:#FCE45C;
}
.form-select {
    border-color: 1px solid #805690;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #ccc;
    font-family: Mukta;
 }
 
body{
    font-family: Mukta;
    background-image: url('./RECURSOS/FONDOS/foto3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}
    
h1{
    font-size: 70px;
    color: white;
    font-family: Mukta;
}
h2 {
   font-family: Mukta;
   font-size: 10px;
   color: black;
}

h4{   
  font-family: Mukta;
  font-size: 10px;
  color: black;

}

h5{
    font-size: 10px;
    color:white;   
    font-family: Mukta;
}
p{
  font-size: 20px;
  color:white;  
  font-family: Mukta;
}
.neon {
  color: #fff;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}
.navbar-custom { 
    background-color:rgba(249, 220, 144, 0.5);
}

.recuadrito{
    background:rgba(249, 220, 144, 0.5);
    height: 398px;
    width: 300px;
    padding: 60px 10px 20px 50px;
    
}

  input[type="submit"] {
    margin: 10px 0 10px 3px;
    width: 100px;
    padding: 5px;
    font-size: 18px;

    cursor: pointer;
    border: 1px solid #805690;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #ccc;
    transition: 150ms linear all;
    font-family: Mukta;
  }

  input[type="submit"]:hover {
    background: #805690;
  }

  input[type="submit"]:focus, input[type="submit"]:active {
    outline: none;
  }

  .justwrap {
    margin-bottom: 50px;
  }

  form {
    margin: 35px 15px 0;
  }


.bloque1{
    margin:90px;

}

}
.mb-3 {
    font-weight: 800;
}

.seccion2 {
    background-color: #FFCBCD;
}
.publicar {
  background:rgba(249, 220, 144, 0.5);
  font-family: Mukta;
  font-size: 30px;
  color: white;

}
.contactar {
  background:rgba(249, 220, 144, 0.5);
  font-family: Mukta;
  font-size: 30px;
  color: white;
}
.box-image {
  background-color: lightgrey;
}
.box-content {
  background-color: white;
}
.recuadro {
  background:rgba(249, 220, 144, 0.5);
  
}

  .btn-primary {
    cursor: pointer;
    border: 1px solid #805690;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #ccc;
    transition: 150ms linear all;
    font-family: Mukta;
  }

  .btn-primary:hover {
    background: #805690;
  }

ul {    
  font-family: Mukta;
  font-size: 20px;
  color: black;
}

.table td {
  transition: all .5s;
  font-family: Mukta;
  text-align: center;
}

/* Table */
.tabla_datos {
  border-collapse: collapse;
  font-size: 14px;
  min-width: 537px;
  font-family: Mukta;
  text-align: center;
}

.tabla_datos th, 
.tabla_datos td {
  border: 1px solid #e1edff;
  padding: 7px 17px;
  font-family: Mukta;
  text-align: center;
}
.tabla_datos caption {
  margin: 7px;
  font-family: Mukta;
  text-align: center;
}

/* Table Header */
#titulo {
  background-color: #606264;
  color: #FFFFFF;
  border-color: #3f4041 !important;
  font-family: Mukta;
  text-align: center;
}

/* Table Body */
.tabla_datos tbody td {
  color: #353535;
  font-family: Mukta;
  text-align: center;
}
.tabla_datos tbody td:first-child,
.tabla_datos tbody td:nth-child(4),
.tabla_datos tbody td:last-child {
  text-align: right;
  font-family: Mukta;
  text-align: center;
}

.tabla_datos tbody tr:nth-child(odd) td {
  background-color: #f4fbff;
  font-family: Mukta;
  text-align: center;
}
.tabla_datos tbody tr:hover td {
  background-color: #ffffa2;
  border-color: #ffff0f;
  font-family: Mukta;
  text-align: center;
}

/* Table Footer */
.tabla_datos tfoot th {
  background-color: #e5f5ff;
  font-family: Mukta;
  text-align: center;
}
.tabla_datos tfoot th:first-child {
  font-family: Mukta;
  text-align: center;
  
.tabla_datos tbody td:empty
{
  background-color: #ffcccc;
  font-family: Mukta;
  text-align: center;
}